# Django Secret Key
# Generate a secure random key and keep it secret
SECRET_KEY=any_random_key

# Debug Mode
DEBUG=True

ENVIRONMENT=development

# Admin URL
# URL path for the Django admin interface
ADMIN_URL=dashboard/

# Google Client ID
# Client ID for Google authentication integration
GOOGLE_CLIENT_ID=your_google_client_id_here

# Google Client Secret
# Client Secret for Google authentication integration
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Email Host
# Hostname of the email server
EMAIL_HOST=smtp.gmail.com

# Email Host User
# Username for authenticating with the email server
EMAIL_HOST_USER=someone@gmail.com

# Email Host Password
# Password for authenticating with the email server
EMAIL_HOST_PASSWORD=strong_password

## Email Port
## Port number for the email server
#EMAIL_PORT=111

# Database Name
# Name of the database
POSTGRES_DB=db_name

# Database User
# Username for authenticating with the database
POSTGRES_USER=db_user_name

# Database Password
# Password for authenticating with the database
POSTGRES_PASSWORD=a_strong_db_password

# Database Host
# Hostname of the database server
DB_HOST=db

# Database Port
# Port number of the database server
DB_PORT=5432

# Media Base URL
# Base URL for serving media files
MEDIA_BASE_URL=http://localhost:3000


# PG admin
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=strong_password

# django
DJANGO_SUPERUSER_NAME=admin
DJANGO_SUPERUSER_EMAIL=admin@gmail.com
DJANGO_SUPERUSER_PASSWORD=strong_password


#metabase
MB_DB_TYPE=
MB_DB_DBNAME=
MB_DB_PORT=
MB_DB_USER=
MB_DB_PASS=
MB_DB_HOST=

SENTRY_DSN=
